body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #CCD5AE;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9EDC9;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ade8f4;
}

.content {
    padding: 20px;
    background-color: #FAEDCD; /* Adjust background color for each page */
}